.container-fluid {
   width: 100%;
   margin-right: auto;
   margin-left: auto;
   padding-right: 15px;
   padding-left: 15px;
   width: 100%; 
}
.card-header {
   padding: 0.75rem 1.25rem;
   margin-bottom: 0;
   border-bottom: 1px solid #c2cfd6; 
}
.btn-xs{
   padding: 7px 7px !important;
   line-height:1 !important;
   font-size: 10px !important;
}
.mostrar-modal{
   z-index: 1003;
   display: block;
   opacity: 1;
   top: 10%;
   transform: scaleX(1) scaleY(1);
}

.menu-color{
   background: #D66D75;  /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, #D66D75, rgb(189, 90, 98));  /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #D66D75, rgb(189, 90, 98)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.floating-button-color{
   background: #D66D75;  /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, #D66D75, rgb(189, 90, 98));  /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #D66D75, rgb(189, 90, 98)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.login-background-color{
   background: rgb(202, 200, 198);  /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, #FFFFFF, rgb(223, 220, 218));  /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.login-button-color{
   background: rgb(199, 98, 107);  /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, rgb(207, 107, 116), rgb(179, 82, 90));  /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, rgb(207, 107, 116), rgb(179, 82, 90)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bar-mensajeria-color{
   background: #52c234;  /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, #1f7400, #3a9422);  /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #1f7400, #3a9422); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */   
}
::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar{
	width: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
   background: #c7c7c7;  /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, #d1d1d1, #dadada);  /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #d1d1d1, #dadada); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.numero-card-dashboard{
   font-family:'Segoe UI'; 
   font-size: 80px; 
   font-style: normal; 
   font-variant: normal; 
   font-weight: 300; 
   line-height: 44.1px;
}

.texto-card-dashboard{
   font-family:'Segoe UI'; 
   font-size: 13px; 
   font-style: normal; 
   font-variant: normal; 
   font-weight: 500; 
   line-height: 24.1px;
}

.dot {
   height: 80px;
   width: 80px;
   background-color: #ffffff;
   border-radius: 50%;
   display: inline-block;
   padding: 9px;
}

.input-field input:focus + label {
  color: #448AFF !important;
}
/* label underline focus color */
.row .input-field input:focus {
  border-bottom: 1px solid #448AFF !important;
  box-shadow: 0 1px 0 0 #448AFF !important
}

.v-date-picker-table {
  height: 280px !important;
}

.modal-grande {
  max-height: 90%;
  height: 90% !important;
  width: 80%;
  top: 5% !important;
  will-change: top, opacity;
}

.tabs .tab a{
   color:black;
} /*Black color to the text*/

.tabs .tab a:hover {
   background-color:rgb(148, 226, 226);
   color:#000;
} /*Text color on hover*/

.tabs .tab a.active {
   background-color:white;
   color:teal;
} /*Background and text color when a tab is active*/

.tabs .indicator {
   background-color:teal;
}